
#btnContainer{
    text-align: center;
}
.btn{
    padding: 10px 20px;
    font-size: 30px;
    color: white;
    background-color: rgb(100, 124, 138);
    border-radius: 100px;
    border: 5px solid rgb(35, 71, 104);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.btn:hover{
    background-color: rgb(85, 114, 124);
    border: 5px solid rgb(28, 59, 88);
    transition: background-color 0.5s ease;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(212, 219, 224);
}
pre{
    font-size: 10px;
}
.img-container{
    position: relative;
    margin: 20px auto;
}
.img-container img {
    width: 300px;
    height: 300px;
    display: none;
    border: 5px solid black;
    border-radius: 5px;
}
video{
    height: 300px;
}
#title{
    margin-bottom: 20px;
}